<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="notes-area-wrap">
          <div class="note-heading-indicate" *ngIf="!isCORE">
          <div class="avatar"><img alt="" [src]="schoolInfo.url" /></div>
          </div>
        <div class="note-heading-indicate" *ngIf="isCORE">
            <div class="avatar"><img alt="" src="https://coreeducationtrust.sharepoint.com/sites/CET_Intranet/school-landing/image/core.jpg" /></div>
            <!-- <h2 class="text-center" style="padding:0;"><i class="fa fa-comments-o"></i> {{schoolInfo.name}} </h2>  -->
          </div>
        </div>
  
    </div>
    <div class="col-md-4">
  
        <div class="notes-area-wrap">
            <div class="note-heading-indicate" *ngIf="!isCORE">
            
            <!-- <h2 class="text-center" style="padding:0;"><i class="fa fa-comments-o"></i> {{schoolInfo.name}} </h2>  -->
            <p class="text-center">
              Address : {{ schoolInfo.address }} <br />School Telephone No : +
              {{ schoolInfo.phone }} <br />
              Website : {{ schoolInfo.website }}
            </p>
          </div>
          <div class="note-heading-indicate" *ngIf="isCORE">
              <p class="text-center">
                Address : 55 St Paul's Square, Birmingham, B3 1QS  <br />
                School Telephone No : 0121 389 2824
                 <br />
                Website : www.core-education.co.uk
              </p>
            </div>
          </div>
  
    </div>
    <div class="col-md-4">
  
    </div>

  </div>
</div>
<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="About"
      ><ng-template matTabContent
        ><app-about *ngIf="!isCORE" [schoolInfo]="schoolInfo"></app-about>
        <app-coreabout *ngIf="isCORE" [allSchoolInfo]="allSchoolInfo"></app-coreabout>
        </ng-template
    ></mat-tab>
    <mat-tab label="Attendence"
      ><ng-template matTabContent
        ><app-attendence *ngIf="!isCORE"
          [schoolInfo]="schoolInfo"
        ></app-attendence>
        <app-coreattendence *ngIf="isCORE"></app-coreattendence>
        </ng-template
    ></mat-tab>
    <mat-tab label="Exclusions"
      ><ng-template matTabContent
        ><app-exclusions *ngIf="!isCORE"
          [schoolInfo]="schoolInfo"
        ></app-exclusions>
        <app-coreexclusions *ngIf="isCORE"></app-coreexclusions>
        </ng-template
    ></mat-tab>
    <mat-tab label="Disadvantaged"
      ><ng-template matTabContent
        ><app-disadvantaged *ngIf="!isCORE"
          [schoolInfo]="schoolInfo"
        ></app-disadvantaged>
        <app-coredisadvantaged *ngIf="isCORE"></app-coredisadvantaged></ng-template
    ></mat-tab>
    <mat-tab label="Total Student Numbers"
      ><ng-template matTabContent
        ><app-total-student
          [schoolInfo]="schoolInfo" *ngIf="!isCORE"
        ></app-total-student>
        <app-coretotalstudent *ngIf="isCORE"></app-coretotalstudent>
        </ng-template
    ></mat-tab>
    <mat-tab label="Classification"
      ><ng-template matTabContent
        ><app-classification
          [schoolInfo]="schoolInfo" *ngIf="!isCORE"
        ></app-classification>
        <app-coreclassification *ngIf="isCORE"></app-coreclassification>
        </ng-template
    ></mat-tab>
  </mat-tab-group>
</div>
