<div class="notes-area-wrap">
  <div class="note-heading-indicate">
      <div class="avatar"> <img alt="" src="https://coreeducationtrust.sharepoint.com/sites/CET_Intranet/school-landing/image/arena.jpg"/> </div>  
      <h2 class="text-center" style="padding:0;"><i class="fa fa-comments-o"></i> {{schoolInfo.name}} </h2> 
      <p class="text-center">Address : {{schoolInfo.address}} <br/>Phone : + {{schoolInfo.phone}}</p>                                                                    
  </div>
  </div>
<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="About"
      ><ng-template matTabContent><app-about [schoolInfo]="schoolInfo" ></app-about></ng-template
    ></mat-tab>
    <mat-tab label="Attendence"
      ><ng-template matTabContent><app-attendence [schoolInfo]="schoolInfo"></app-attendence></ng-template
    ></mat-tab>
    <mat-tab label="Exclusions"
      ><ng-template matTabContent><app-exclusions></app-exclusions></ng-template
    ></mat-tab>
    <mat-tab label="Disadvantaged"
      ><ng-template matTabContent
        ><app-disadvantaged></app-disadvantaged></ng-template
    ></mat-tab>
    <mat-tab label="Total Student Numbers"
      ><ng-template matTabContent
        ><app-total-student></app-total-student></ng-template
    ></mat-tab>
    <mat-tab label="Classification"
      ><ng-template matTabContent
        ><app-classification></app-classification></ng-template
    ></mat-tab>
  </mat-tab-group>
</div>
