<div class="container heading2">
  <div class="row">
    <div class="notes-area-wrap text-center">
      <div class="note-heading-indicate">
        <div class="avatar"><img alt="" [src]="schoolInfo.url" /></div>
        <h2 class="text-center" style="padding:0;">
          <i class="fa fa-comments-o"></i> {{ schoolInfo.name }}
        </h2>
        <p class="text-center">
          Address : {{ schoolInfo.address }} <br />Phone : +
          {{ schoolInfo.phone }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Head Teacher Name</div>
    <div class="col-md-6">{{ schoolInfo.hmName }}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Head Teacher Email Address</div>
    <div class="col-md-6">{{ schoolInfo.hmEmail }}</div>
  </div>
</div>
