.side-navi-item.item2 {
  top: 89px;
}

#sideNavi,
.side-navi-item,
.side-navi-data,
.side-navi-tab {
  margin: 0;
  padding: 0;
}

#sideNavi {
  position: fixed;
  left: 50px;
  top: 20%;
  width: 10%;
  float: right;
  font-size: 12px;
}
.navComp {
  width: 90%;
  float: right;
  background-color: #706259;
  height: 700px;
  overflow: scroll;
}
.side-navi-item {
  position: relative;
  left: 0;
  display: inline-block;
  width: 80px;
  height: 50px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  color: #fff;
  background-color: #732282;
  cursor: pointer;
}

.side-navi-item.item1 {
  top: 0px;
}
.side-navi-item.active,
.side-navi-item:hover {
  background-color: #00a19b;
  color: #fff;
}

.side-navi-item.item3 {
  top: 180px;
}

.side-navi-item.item4 {
  top: 273px;
}

.side-navi-item.item5 {
  top: 368px;
}

.side-navi-item.item6 {
  top: 457px;
}

.side-navi-item.item7 {
  top: 549px;
}
.side-navi-item > div {
  padding-top: 15px;
  text-align: center;
}
 .mainContainer {
  

  position: fixed;
} 
