
  <div class="container">
    <mat-tab-group>
      <mat-tab label="About" 
        ><ng-template matTabContent><app-about></app-about></ng-template
      ></mat-tab>
      <mat-tab label="Attendence"
        ><ng-template matTabContent><app-attendence></app-attendence></ng-template
      ></mat-tab>
      <mat-tab label="Exclusions"
        ><ng-template matTabContent><app-exclusions></app-exclusions></ng-template
      ></mat-tab>
      <mat-tab label="Disadvantaged"
        ><ng-template matTabContent
          ><app-disadvantaged></app-disadvantaged></ng-template
      ></mat-tab>
      <mat-tab label="Total Student Numbers"
        ><ng-template matTabContent
          ><app-total-student></app-total-student></ng-template
      ></mat-tab>
      <mat-tab label="Classification"
        ><ng-template matTabContent
          ><app-classification></app-classification></ng-template
      ></mat-tab>
    </mat-tab-group>
  
  </div>



