
/* .container {
  background-color: #706259;
}

.mat-tab-label {
  background-color: transparent;
  color: white;

  font-size: 11px;
}

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  background-color: #ffa400;
}

/* Styles for the ink bar */
/* .mat-ink-bar {
  background-color: white;
}   */
