<div class="container heading2">
    <div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <h4>
              CORE EDUCATION TRUST
            </h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h6>CEO :</h6>
          </div>
          <div class="col-md-4">Adrian Packer CBE</div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h6>Email Address :</h6>
          </div>
          <div class="col-md-4"> ap@core-education.co.uk</div>
          <div class="col-md-4"></div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <h6> Mobile No :</h6>
          </div>
          <div class="col-md-4">07960032197</div>
          <div class="col-md-4"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
              <h6> Chief Operating Officer:</h6>
            </div>
            <div class="col-md-4">Joanne Tyler</div>
            <div class="col-md-4"></div>
          </div>
        <div class="row">
            <div class="col-md-4">
              <h6> Email Address : </h6>
            </div>
            <div class="col-md-4">jt@core-education.co.uk</div>

          </div>
        <div class="row">
            <div class="col-md-4">
              <h6> Mobile : </h6>
            </div>
            <div class="col-md-4">07903565662</div>
            <div class="col-md-4"></div>
          </div>
          <hr>
        <div class="row">
            <div class="col-md-4">
              <h6>Director of Development : </h6>
            </div>
            <div class="col-md-4">Cathy O'Driscoll</div>
            <div class="col-md-4"></div>
          </div>
        <div class="row">
            <div class="col-md-4">
              <h6>Email Address : </h6>
            </div>
            <div class="col-md-4">co@core-education.co.uk</div>
            <div class="col-md-4"></div>
          </div>
        <div class="row">
            <div class="col-md-4">
              <h6>Mobile : </h6>
            </div>
            <div class="col-md-4">07931832345</div>
            <div class="col-md-4"></div>
          </div>
          <hr>
        <div class="row">
            <div class="col-md-4">
              <h6>Director of Academic Progress :</h6>
            </div>
            <div class="col-md-4">Saiqa Liaqat</div>
            <div class="col-md-4"></div>
          </div>
        <div class="row">
            <div class="col-md-4">
              <h6>Email Address : </h6>
            </div>
            <div class="col-md-4">sl@core-education.co.uk</div>
            <div class="col-md-4"></div>
          </div>
        <div class="row">
            <div class="col-md-4">
              <h6>Mobile : </h6>
            </div>
            <div class="col-md-4">07961119127</div>
            <div class="col-md-4"></div>
          </div>
      </div>


</div>
