<!-- <table id="allTable" class="table text-center">
  <tr>
    <th>Year</th>
    <th>Chart</th>
  </tr>
  <tr *ngFor="let x of totalStudentArray">
    <td>Year : {{ x.year }}</td>
    <td>
      <my-chart [ChartData]="[[x.boys, x.girls]]"></my-chart>
    </td>
  </tr>
</table> -->

&nbsp;
<div class="container">
  <div class="row">
    <div class="col-md-4 disControl" *ngFor="let x of totalStudentArray">
      <my-chart [ChartData]="[[x.boys, x.girls]]" [ChartName]="{title:{display:true,text:'Year : '+ x.year,position:'bottom',fontColor:'#fff'}}"></my-chart>
    </div>
  </div>
</div>
